[Unit]
Description=Uvicorn instance to serve application
After=network.target

[Service]
User=admin
Group=admin
WorkingDirectory=/var/www/sunscan-backend/app/
ExecStart=/usr/local/bin/uvicorn main:app --host 0.0.0.0 --port 8000 
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true

[Install]
WantedBy=multi-user.target