<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ url_for('static', path='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection,"/>
    <script src="{{ url_for('static', path='js/main.js') }}"></script>
    <title>Dashboard</title>
</head>
<body>
    <div class="dashboard">
        <div class="block" id="system-info">
            <h2>Informations Système</h2>
            <!-- Contenu dynamique des informations système -->
            <p>OS: <span>{{os}}</span></p>
            <p>OS Name: <span>{{platform}}</span></p>
            <p>Architecture: <span>{{architecture}}</span></p>
            <p>Release: <span>{{platform_release}}</span></p>
            <p>Python version: <span>{{python_version}}</span></p>

        </div>
        <div class="block" id="video-stats">
            <h2>Statistiques Vidéos</h2>
            <!-- Statistiques des vidéos -->
            <p>Vidéos enregistrées: <span id="videos-recorded">...</span></p>
            <p>Espace disque utilisé: <span id="disk-space">...</span>GB</p>
        </div>
    </div>
</body>
</html>
